html {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  padding: 1rem;
  
  background-color: #FCE5D9;
  
  display: grid;
  place-items: center;
}

.page-title {
  font-family: 'Smokum', cursive;
  font-size: 3em;
  text-align: center;
  margin-top: 1em;
  padding: 0;
}

.main-container,
.joke-container,
.joke-viewer {
  display: grid;
  place-items: center;
}

.joke-viewer {
  margin-bottom: 1em;
  width: 70vw;
  min-height: 50vh;
  
  background-color:#FBC6AF;
  border: 1px solid transparent;
  border-radius: 15px;

  font-family: 'Rye', cursive;
  font-size: calc(1em + 1vw);
  padding: 1em;
  text-align: center;
  line-height: 2em;
}

.chuck-and-testing-image {
  max-width: 100%;
  height: auto;
  margin-top: 3em;
  margin-bottom: 3em;
}

.btn {
  margin: 0 0.5rem;
  padding: .3rem .8rem;
  border-radius: 0.313rem;
  outline: none;
  cursor: pointer;
  border: 0.313rem solid transparent;
  background-color: transparent;
}

.btn--font-size {
  font-size: 1em;
}

.btn--primary {
  background-color: hsl(36, 83%, 59%);
  color: white;
}

.btn--primary:active {
  border-color: hsl(36, 83%, 69%);
}

.btn--success {
  background-color: hsl(14, 88%, 58%);
  color: white;
}

.btn--success:active {
  border-color: hsl(14, 88%, 68%);
}

@media (min-width: 1024px) {

  body {
    max-height: 50vh;
    padding: 1rem 4vw;
  }

  .main-container  {
    grid-template-columns: repeat(3, 1fr);
  }

  .joke-viewer {
    font-size: calc(1em + 0.8vw);
    width: auto;
  }

  .chuck-and-testing-image {
    margin-top: 0;
    margin-bottom: 0;
  }

}